doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title= LendingPage
    body 
        .body__container 
                include ../limbs/header.pug
                block content
                
                include ../limbs/footer.pug
